.header a, a:hover {
	color: #f0ad4e;
	text-decoration: none;
}

.inline-a {
	display: inline;
}

.header h1 {
	letter-spacing: 15px;
	font-size: 300%;
}

.header p {
	color: #fff !important;
	font-size: 90%;
	letter-spacing: 3px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #346270; 
}

.nav-pills>li>a {
	color: #fff;
}

.nav-pills>li>a:hover {
	background-color: #346270;
}

.navbar-inverse {
    padding: 1%;
    border-radius: 0;

}

@media (max-width: 767px) {
	.nav-pills>li {
		float: none;
	}

	.nav-pills {
		text-align: center;	
	}

	.header h1 {
		letter-spacing: 5px;
		font-size: 280%;
	}

	.header {
		text-align: center;
	}
}

.clear {
	clear: both;
	width: 63px;
}

.wrapper {
	min-height: 70%;
}



html, body {
	height: 100%;
}

table td, table th {
	border-collapse: collapse;
	empty-cells: show;
	border: 2px solid black;
}

.table_basket {
	margin-top: 20px;
	margin-bottom: 20px;
}

.table_basket th {
	background-color: lightgrey;
	padding: 5px 10px 5px 10px;
	font-style: italic;
	font-size: 15px;
	letter-spacing: 1px;
}

.table_basket tr td:first-child {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.table_basket tr td:nth-child(n + 2) {
	padding-left: 10px;
	padding-right: 10px;
}

.table_basket tr td:nth-child(n + 3) {
	text-align: right;
}

.table_contact td, .table_cabinet td {
	border-style: none;
	padding: 0 15px 0 15px;
}

.table_cabinet td {
	padding: 20px;
	border-bottom: 1px solid black;
}

.table_cabinet tr td:first-child {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 5px;
}

.table_cabinet tr td:last-child {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 2px;
	font-weight: 500;
}

.table_cabinet tr td:last-child a {
	margin-left: 25px;
	letter-spacing: 0;
}

.table_lkzakaz {
	margin-top: 50px;
	min-width: 100%;
}

.table_lkzakaz th {
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	padding: 5px 10px 5px 10px;
	background-color: lightgrey;
	font-style: italic;
}

.table_lkzakaz td {
	padding: 10px;
}

.table_lkzakaz tr {
	vertical-align: middle;
}

.table_lkzakaz tr td:first-child {
	text-align: center;
}

.table_lkzakaz tr td:nth-child(2) {
	letter-spacing: 1px;
	text-align: center;
}

.table_lkzakaz tr td:nth-child(3) {
	letter-spacing: 1px;
	text-align: right;
}

.table_lkzakaz tr td:last-child {
	letter-spacing: 1px;
	font-style: italic;
}

.vertical-center {
	vertical-align: middle;
}

.menuCategories {
	text-decoration: none;
}

.btn-danger {
	margin-top: 5px;
	margin-bottom: 5px;
}

.table_contact {
	margin-top: 20px;
}

.table_contact tr td {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: bold;
	padding-bottom: 20px;
}

.table_contact tr td:last-child {
	color: #af6b24;
}

.catalog {
	text-decoration: none;
}

.sale {
	text-decoration: line-through;
}


/* .up-count, .down-count {
	border-radius: 5px;
	border: 1px solid #000;
	width: 15px;
	text-align: center;
}

.up-count:hover, .down-count:hover {
	background-color: grey;
} */

.films_block {
	text-align: center;
	margin: 0 1%;
	border: 1px solid grey;
	border-radius: 2%; 
	width: 23%;
	min-height: 350px;
	max-height: 350px;
	position: relative;
}

.films_block img {
	margin: 10% auto;
	border-radius: 5px;
	border: solid 5px #dad7d5;
	max-height: 100px;
	max-width: 90%;
}

.films_block div:first-child {

}

.films_block div:nth-child(2) {
	min-height: 50px;
	text-transform: uppercase;
	text-align: center;
}

.btn-warning {
	position: absolute;
	bottom: 4%;
	left: 10%;
	min-width: 80%; 
}

/* .films_block div:nth-child(3) {
	min-height: 20px;
	letter-spacing: 1.5px; 
	text-align: justify !important;
	padding-left: 0px !important;

} */

.film_label {
	padding: 2%;
	margin-bottom: 4%;
	min-height: 25%;
}

.product{
	margin: 0;
	position: relative;
	padding-left: 30%;
}

.product img {
	position: absolute;
	left: -95px;
	top: 20px;
}

.product button {
	position: relative;
	min-width: 20%;
	max-width: 30% !important;
	margin-top: 2%;
}

.margin-8 {
	margin-top: 8%;
}

.panel {
	border: none;
}

.panel-body {
	background-color: #f9f9f9;
}

.panel-info>.panel-heading {
	background-color: #f0ad4e;
	color: white;
	border-color: transparent;
}

.sidebar-header {
	font-size: 120%;
	letter-spacing: 2px;
}

.form-control {
	border-radius: 0px;
}

.input-lg {
	font-size: 14px;
}

.list-group-warning {
	color: #8a6d3b;
	background-color: #f9f9f9;
}

/* .badge {
	background-color: #000000;
} */

.info-block {
	font-size: 120%;
}

.info-block .badge {
	font-size: 80%;
}

.info-block span {
	margin-right: 3%;
}

textarea.form-control {
	height: 200px;
}

.table tbody>tr>td.vert-align {
	vertical-align: middle;
}

footer {
	color: #666;
	background-color: #222;
	padding: 17px 0 18px 0;
	border-top: solid 1px black;
}

footer a {
	color: #999;
}

footer a:hover {
	color: #efefef;
}

/*вертикальное меню*/

.menu-vertical {
	width:200px;
	height:auto;
}

.menu-vertical ul {
	display:block;
    width:100%;
    height:auto;
    margin:0px;
    padding:0px;
    list-style:none;
}
	
.menu-vertical > ul > li  {
	display:block; 
	width:100%; 
	height:auto; 
	position:relative;
}

.menu-vertical > ul > li > a { 
	position:relative;
}

.menu-vertical > ul > li a {
    display:block;
    width:100%;
    height:auto;
    box-sizing:border-box;
    font-size:13px;
    font-weight:bold;
    color:#FBF7F7;
    line-height:1.2em;
    padding:10px 15px;
    background:grey;
    border-top:1px solid #236A92;
    text-decoration:none;
} 
/* 
.menu-vertical > ul > li:first-child > a {
	border:0px;
} */

/* .menu-vertical ul li a:hover, .menu-vertical ul li:hover a {
    background:grey;
}  */

.menu-vertical > ul ul {
    position:absolute;
    top:10%;
    left:100%;
    display:none;
    width:100%;
    min-height: 200%;
    z-index: 10;
}

.menu-vertical > ul > li:first-child > ul {
    position:absolute;
    top:100%;
    left:0;
    display:none;
    width:100%;
    z-index: 10;
}
/*******показываем выпадашку при наведении ********/
.menu-vertical ul li:hover > ul {
	display:block;
}

/* .menu-vertical ul li > a {
    text-transform:none;
    padding:5px 20px;
}  */
 .menu-vertical ul li a:hover, .menu-vertical ul li:hover > a {
    /* background:#75C1D4; */
    color:darkgrey;
} 



/*конец вертикального меню*/

.error {
	color: red;
	font-size: 22px;
}